@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Roboto");
/* VARIABLES */
/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #535C6B; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", sans-serif; }

a {
  text-decoration: none;
  display: inline-block; }

input, select, textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #EFF0F5;
  outline: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

select {
  cursor: pointer;
  color: #535C6B; }

textarea {
  height: 100px;
  resize: none; }

input[type="text"]:disabled,
.contador {
  border-radius: 5px;
  background: #EAF1FD;
  color: #3A7DFD; }

input[type="button"],
input[type="submit"] {
  background: #DAE5FB;
  color: #3A7DFD;
  display: block;
  width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px #3A7DFD inset;
  box-shadow: 0px 0px #3A7DFD inset;
  padding: 0.8rem; }

input[type="button"]:hover {
  color: #fff; }

input[type="button"]:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

input[type="file"] {
  background: #fff; }

input[data-btn='atras'], input[data-btn='siguiente'], input[data-btn='final'] {
  display: inline-block; }

input[data-btn='atras'] {
  border-radius: 50px 10px 10px 50px;
  text-align: right; }

input[data-btn='atras']:hover {
  -webkit-box-shadow: -150px 0 #3A7DFD inset;
  box-shadow: -150px 0 #3A7DFD inset;
  padding-right: 7rem; }

input[data-btn='siguiente'] {
  border-radius: 10px 50px 50px 10px;
  text-align: left;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

input[data-btn='siguiente']:hover {
  -webkit-box-shadow: 150px 0 #3A7DFD inset;
  box-shadow: 150px 0 #3A7DFD inset;
  padding-left: 5.3rem; }

input[data-btn='final'] {
  background: #48DDA8;
  color: #fff;
  cursor: pointer; }

input[data-btn='final']:hover {
  border-radius: 50px;
  background: #fff;
  color: #48DDA8;
  border: 2px solid #48DDA8; }

input[data-btn='siguiente'],
input[data-btn='final'] {
  float: right; }

input:invalid {
  background-color: rgba(237, 77, 76, 0.25); }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

table {
  text-align: center; }
  table th {
    vertical-align: middle !important; }
  table th, table td {
    border: 0px !important;
    position: relative; }

.half table {
  text-align: left; }

.table tbody + tbody {
  border-top: 0px; }

.table .thead-light th {
  padding: 0.4rem;
  border: 0px;
  border-radius: 5px;
  background: #b8c1d3; }

/*Iniciales de Formularios*/
#msform {
  position: relative; }
  #msform .container {
    position: relative; }

#msform .container:not(:first-of-type) {
  display: none; }

.container .row .col-sm {
  padding: 1rem; }

.required {
  position: absolute;
  color: #ED4D4C;
  font-size: 1.3rem;
  top: 15px;
  left: 3px;
  font-weight: bold; }

.error {
  background: #ED4D4C;
  color: #fff;
  font-size: 11px;
  padding: 0.2rem 0.5rem;
  width: 100%;
  display: block;
  border-radius: 3px; }

.header {
  background: #FEFEFE;
  border: 1px solid #EFF0F5; }
  .header .title {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem; }

.section-page {
  border: 1px solid #EFF0F5;
  background: #F7F8FA;
  padding: 2rem; }
  .section-page h2 {
    /* text-align: right; */ }
  .section-page p span {
    color: #ED4D4C;
    font-weight: bold; }

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden; }

.tab .tabs {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: rgba(222, 223, 225, 0.3);
  color: #3A7DFD;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 0; }

.tab-content {
  max-height: 0;
  overflow: hidden;
  /* background: #fff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s; }
  .tab-content .row {
    padding: 1rem; }

.tab-content p {
  margin: 1em; }

.tab-content table td {
  padding: 0rem 1rem; }

.tab-content input {
  width: 100px; }

/* :checked */
.tab .tabs:checked ~ .tab-content {
  max-height: 100vh; }

/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: -7px;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s; }

.tab .tabs[type=checkbox] + label::after {
  content: "+";
  font-size: 18px; }

.tab .tabs[type=checkbox]:checked + label::after {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg); }

/*Check*/
.check {
  /* background: red; */ }
  .check input {
    display: inline-block;
    width: 20px;
    /* background: green; */ }

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 6.333333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #DAE5FB;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000; }

.option-input:hover {
  background: #9faab7; }

.option-input:checked {
  background: #3A7DFD; }

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 20px; }

.option-input:checked::after {
  background: #3A7DFD;
  content: '';
  display: block;
  position: relative;
  z-index: 100; }

/*Cajas Paginación formulario*/
#msform {
  position: relative; }

#msform fieldset {
  margin-bottom: 3rem;
  position: absolute; }

#msform fieldset:not(:first-of-type) {
  display: none; }

/*Botón agregar y eliminiar*/
.add {
  background: #48DDA8;
  border: 0px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold;
  border-radius: 45% 55% 56% 44% / 26% 60% 40% 74%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .add:hover {
    border-radius: 50% 5px; }
  .add:active, .add:focus {
    outline: none !important; }
  .add:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .add.minus {
    background: #ED4D4C; }

/*Modal*/
.modals {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .modals .contentModal {
    background: #F6F7F9;
    padding: 2rem;
    width: 300px;
    border-radius: 3px;
    /*Progress Bar*/
    /*Fin barProgress*/ }
    .modals .contentModal p {
      text-align: center;
      font-weight: bold; }
    .modals .contentModal .contentItem ul {
      list-style: none; }
      .modals .contentModal .contentItem ul li {
        background: blue;
        margin-bottom: 0.5rem;
        line-height: 2.5rem;
        padding-left: 1rem;
        color: #fff;
        border-radius: 3px; }
    .modals .contentModal .progress {
      height: 30px; }
      .modals .contentModal .progress .bar {
        /* background: red; */ }
    .modals .contentModal .progress-striped .bar {
      background-color: #89949B;
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
      background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      -webkit-background-size: 40px 40px;
      -moz-background-size: 40px 40px;
      -o-background-size: 40px 40px;
      background-size: 40px 40px; }
    .modals .contentModal .progress.active .bar {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      -moz-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite; }
    .modals .contentModal .progress-danger.progress-striped .bar {
      background-color: #3A7DFD;
      background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 200px 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 200px 0; } }

.tablePaso3 td:first-child {
  min-width: 350px; }
