@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');
/* VARIABLES */
$color-uno: #DAE5FB;
$color-dos: #3A7DFD;
$color-add: #48DDA8;
$color-danger: #ED4D4C;
$font-family-p: 'Roboto', sans-serif;
$font-family-h: 'Fjalla One', sans-serif;
$color-grey: #F7F8FA;

/*Estilos generales*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	font-family: $font-family-p;
	font-size: 13px;
	color: #535C6B;
}
h1, h2, h3, h4, h5, h6{ font-family: $font-family-h; }
a{
	text-decoration: none;
	display: inline-block;
}
input, select, textarea{
	width: 100%;
	padding: 0.7rem 1rem;
	border: 1px solid #EFF0F5;
	outline: none;
	border-radius: 3px;
	transition: all 0.5s;
}
select{cursor: pointer;color: #535C6B;}
textarea{
	height: 100px;
	resize: none;
}
input[type="text"]:disabled{
	border-radius: 5px;
	background: #EAF1FD;
	color: $color-dos;
}
input[type="button"], 
input[type="submit"]{
	background: $color-uno;
	color: $color-dos;
	display: block;
	width: 150px;
	cursor: pointer;
	box-shadow: 0px 0px $color-dos inset;
	padding: 0.8rem;
}
input[type="button"]:hover{	color: #fff; }
input[type="button"]:active{transform: scale(0.9);}
input[type="file"]{
	background: #fff;
}

input[data-btn='atras'], input[data-btn='siguiente'], input[data-btn='final']{ display: inline-block; }

input[data-btn='atras']{ border-radius: 50px 10px 10px 50px; text-align: right;}
input[data-btn='atras']:hover{ box-shadow: -150px 0 $color-dos inset; padding-right: 7rem; }

input[data-btn='siguiente']{ border-radius: 10px 50px 50px 10px; text-align: left; transition: all 0.5s; }
input[data-btn='siguiente']:hover{ box-shadow: 150px 0 $color-dos inset; padding-left: 5.3rem;}

input[data-btn='final']{
	background: $color-add;
	color: #fff;
	cursor: pointer;

}
input[data-btn='final']:hover{ border-radius: 50px; background: #fff; color:$color-add; border: 2px solid $color-add}

input[data-btn='siguiente'],
input[data-btn='final']{
	float: right;
}

input:invalid {
  background-color: rgba($color-danger, 0.25);
}
table{
	text-align: center;
	th{
		vertical-align: middle !important;
	}
	th,td{
		border: 0px !important;
	}
}
.table tbody+tbody{
	border-top: 0px;
}
.table .thead-light th{
	padding: 0.4rem;
	border: 0px;
	border-radius: 5px;
	background: darken($color-grey, 20);
}
/*Iniciales de Formularios*/
#msform{
	position: relative;
	.container{
		position: relative;
	}
}
#msform .container:not(:first-of-type) {
	display: none;
}
.container{
	.row{
		.col-sm{
			padding: 1rem;
		}
	}
}
.required{
	position: absolute;
	color: $color-danger;
	font-size: 1.3rem;
	top: 15px;
	left: 3px;
	font-weight: bold;
}
.error{
	background: $color-danger;
	color: #fff;
	font-size: 10px;
	padding: 0.2rem 0.5rem;
	width: 100%;
	display: block;
	border-radius: 3px;
}
.header{
	background:#FEFEFE;
	border: 1px solid #EFF0F5;

	.title{
		text-align: center;
		font-size: 1.3rem;
		margin: 2rem;
	}
}

.section-page{
	border: 1px solid #EFF0F5;
	background: $color-grey;
	padding: 2rem;

	h2{
		/* text-align: right; */
	}
	p{
		span{
			color: $color-danger;
			font-weight: bold;
		}
	}
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}
.tab .tabs {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: rgba(#DEDFE1, 0.3);
  color:$color-dos;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 0;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  /* background: #fff; */
  transition: max-height .35s;
  .row{
  	padding: 1rem;
  }
}
.tab-content p {
  margin: 1em;
}
.tab-content table td{
	padding: 0rem 1rem; 
}
.tab-content input{
	width: 100px;
}

/* :checked */
.tab .tabs:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: -7px;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab .tabs[type=checkbox] + label::after {
  content: "+";
  font-size: 18px;
}
.tab .tabs[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}

/*Check*/
.check{
	/* background: red; */
	input{
		display: inline-block;
		width: 20px;
		/* background: green; */
	}
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 6.333333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: $color-uno;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: $color-dos;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  background: $color-dos;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

/*Cajas Paginación formulario*/
#msform{
	position: relative;
}
#msform fieldset{
	margin-bottom: 3rem;
	position: absolute;
}
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*Botón agregar y eliminiar*/
.add{
	background: $color-add;
	border: 0px;
	padding: 0.5rem 1rem;
	color: #fff;
	font-weight: bold;
	border-radius: 45% 55% 56% 44% / 26% 60% 40% 74% ;
	cursor: pointer;
	transition: all 0.2s;


	&:hover{
		border-radius: 50% 5px ;
	}
	&:active, 
	&:focus{
		outline: none !important;	
	}
	&:active{
		transform: scale(0.9);
	}
	&.minus{
		background: $color-danger;
	}
}
